@model SWD392_EventManagement.Models.Event

@{
    ViewData["Title"] = "Event Detail";
    Event detailEvent = ViewBag.DetailEvent;
    var imageUrl = detailEvent.EventDetails.FirstOrDefault().Image;
    List<Comment> comments = ViewBag.CommentList;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-primary">@detailEvent.Name</h1>
            <div class="event-image mt-4">
                <img src="~/img/@imageUrl" asp-append-version="true" alt="Event Image" class="img-fluid rounded-circle">
            </div>
            <p >@detailEvent.Description</p>
        </div>

        <div class="col-md-6 text-right">
            <div class="mt-4">
                <p class="text-muted"><strong>Danh mục:</strong> @detailEvent.Category.Name</p>
                <p><strong>Tài trợ bởi:</strong> @detailEvent.Sponsors.FirstOrDefault().Name</p>
                <p><strong>Đơn vị tài trợ:</strong> @detailEvent.Sponsors.FirstOrDefault().UnitSponsor</p>
            </div>
        </div>
    </div>

    <div class="event-details mt-4">
        <div class="row">
            <div class="col-md-6">
                <p><strong class="text-success">Ngày bắt đầu:</strong> @detailEvent.StartDate.ToString("dd/MM/yyyy")</p>
                <p><strong class="text-success">Ngày kết thúc:</strong> @detailEvent.EndDate.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="col-md-6 text-right">
                <p><strong class="text-danger">Vị trí:</strong> @detailEvent.Location</p>
            </div>
        </div>
    </div>

    <h2 class="mt-4">Bình luận</h2>
    <ul class="list-group">
        @foreach (var comment in comments)
        {
            <li class="list-group-item comment-item">
                <div class="comment-header">
                    <div class="user-info">
                        <strong>@comment.Account.FullName</strong>
                    </div>
                </div>
                <div class="comment-content">
                    <p>@comment.Content</p>
                </div>
                <div class="comment-footer">
                    <span class="comment-date">
                        <i class="far fa-clock">@comment.CreatedAt.ToString("dd/MM/yyyy")</i>
                    </span>
                </div>
            </li>
        }
    </ul>
   <div class="mt-4">
    <h3>Thêm bình luận</h3>
        <form method="post" asp-controller="Comments" asp-action="Create">
            
        <div class="form-group">
            <label for="commentContent">Nội dung bình luận</label>
            <textarea class="form-control" id="commentContent" name="Content" rows="3" required></textarea>
                <input type="hidden" name="EventId" value="@detailEvent.EventId"></input>
            </div>
        <button type="submit" class="btn btn-primary">Gửi bình luận</button>
    </form>
</div>

</div>
